*.iws
*Db.properties
*Db.script
eclipse
stacktrace.log
coverage-error.log

/source/web-app/plugins
/source/web-app/WEB-INF/classes
/source/out


#        /source/target/classes
#        /source/target/stacktrace.log




