*.iws
*Db.properties
*Db.script
*.class
eclipse
stacktrace.log
coverage-error.log

source/plugins
source/web-app/plugins
source/web-app/WEB-INF/classes
source/target/classes
source/target/stacktrace.log
source/out


